:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: var(--tg-color-scheme);
	background-color: var(--tg-theme-bg-color);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color: var(--tg-theme-text-color);
}

a {
	font-weight: 500;
	text-decoration: inherit;
	color: var(--tg-theme-link-color);
}

a:hover {
	color: #535bf2;
}

body {
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

#app {
	max-width: 1280px;
	text-align: center;
	margin: 0 auto;
	padding: 2rem;
}

button {
	border-radius: 8px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--tg-theme-button-color);
	cursor: pointer;
	padding: 0.6em 1.2em;
	transition: border-color 0.25s;
	color: var(--tg-theme-button-text-color);
	border: 1px solid transparent;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #ffffff;
		color: #213547;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}