:root {
	color-scheme: var(--tg-color-scheme);
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
}

body {
	margin: 0;
	/* width: 100%; */
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Arial", sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	font-synthesis: none;
	line-height: 22px;
	letter-spacing: -0.43px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a {
	font-weight: 500;
	text-decoration: inherit;
	color: var(--tg-theme-link-color);
}

a:hover {
	color: #535bf2;
}

button {
	border-radius: 8px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--tg-theme-button-color);
	cursor: pointer;
	padding: 0.6em 1.2em;
	transition: border-color 0.25s;
	color: var(--tg-theme-button-text-color);
	border: 1px solid transparent;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.title {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	/* 127.273% */
	letter-spacing: -0.264px;
}

.headline {
	margin: 1em 0 .5em 0.25em;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	/* 127.273% */
	letter-spacing: -0.264px;
}

.subheadline {
	margin-top: .1em;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	/* 120% */
	letter-spacing: -0.23px;
}

.body-semibold {
	font-size: 17px;
	font-style: normal;
	font-weight: 590;
	line-height: 22px;
	letter-spacing: -0.43px;
}